{% extends 'bootstrap/base.html' %}
{% block head %}


    {% block metas %}
        {{ super() }}
        <meta charset="UTF-8">
    {% endblock metas %}
    {#    {% include ['includes/_head.html', 'includes/_metas.html'] %}#}
    {% block styles %}
        <style type="text/css">
            a:link {
                color: #2b47ff
            }

            a:visited {
                color: #5bddff
            }

            a:hover {
                color: #FF00FF
            }

            a:active {
                color: #0000FF
            }
        </style>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">
        {#        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/slate/bootstrap.min.css">#}
    {% endblock styles %}

    <title>{% block title %}{{ title }}{% endblock title %}</title>

{% endblock head %}

{% block body %}

    {% block navbar %}
        {#        {{ nav.top.render() }}#}
        {% include 'includes/_navbar.html' %}
    {% endblock %}

    {% block header %}
        <header>
            <div class="container">
                <div class="page-header">
                    <h2>{{ title }}</h2>
                </div>
            </div>
        </header>
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block page_body %}
    {% endblock page_body %}

    {% block scripts %}
        {{ super() }}
        <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
    {% endblock scripts %}

    <footer>
        <div class="navbar navbar-default" align="center">
            {% block footer %}
                &copy; Copyright 2016 by <a href="http://www.payegis.com.cn" target="_blank">PayEgis</a>
                <sup>&reg;</sup>.
            {% endblock footer %}
        </div>
    </footer>

{% endblock body %}

