{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
    <div class="container">
{#                    <form method="post">#}
{#                        <div>{{ form.hidden_tag() }}</div>#}
{#                        <div>{{ form.username.label }}</div>#}
{#                        <div>{{ form.username }}</div>#}
{#                        <div>{{ form.password.label }}</div>#}
{#                        <div>{{ form.password }}</div>#}
{#                        <div>{{ form.submit(class='btn btn-primary') }}</div>#}
{#                    </form>#}
        {% for msg  in get_flashed_messages() %}
            <div class='alert-danger'>{{ msg }}</div>
        {% endfor %}
        {{ wtf.quick_form(form) }}
    </div>
{% endblock %}