{% extends 'base.html' %}
{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert-danger">{{ message }}</div>
        {% endfor %}
        <form method="POST" class="form" role="form">
            {{ form.hidden_tag() }}

            {% if form.errors.username %}
                <div class="form-group has-error required">
                    {{ form.username.label(class="control-label") |safe }}
                    {{ form.username(class="form-control",required=True) }}
                    {% for error in form.errors.username %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                <div class="form-group required">
                    {{ form.username.label(class="control-label") |safe }}
                    {{ form.username(class="form-control",required=True) }}
                </div>
            {% endif %}


            {% if form.errors.email %}
                <div class="form-group has-error required">
                    {{ form.email.label(class="control-label") |safe }}
                    {{ form.email(class="form-control",required=True) }}
                    {% for error in form.errors.email %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                <div class="form-group required">
                    {{ form.email.label(class="control-label") |safe }}
                    {{ form.email(class="form-control",required=True) }}
                </div>
            {% endif %}

            {% if form.errors.password %}
                <div class="form-group has-error required">
                    {{ form.password.label(class="control-label") |safe }}
                    {{ form.password(class="form-control",required=True) }}
                    {% for error in form.errors.password %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                <div class="form-group required">
                    {{ form.password.label(class="control-label") | safe }}
                    {{ form.password(class="form-control", required=True) }}
                </div>
            {% endif %}

            {% if form.errors.password2 %}
                <div class="form-group has-error required">
                    {{ form.password2.label(class="control-label") |safe }}
                    {{ form.password2(class="form-control",required=True) }}
                    {% for error in form.errors.password2 %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                <div class="form-group required">
                    {{ form.password2.label(class="control-label") | safe }}
                    {{ form.password2(class="form-control", required=True) }}
                </div>
            {% endif %}

            {% if form.errors.verification_code %}
                <div class="form-group has-error required">
                    {{ form.verification_code.label(class="control-label") | safe }}
                    {{ form.verification_code(size=5,maxlength=4, required=True) }}
                    <img src="{{ url_for("auth.get_code") }}" id="get_code">
                    <label class="control-label">
                        <small>{{ _('看不清？点击') }}<a href="javascript:void(0)"
                                                   onclick="RefreshCode()">{{ _('刷新') }}</a></small>
                    </label>
                    {% for error in form.errors.verification_code %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                <div class="form-group required ">
                    {{ form.verification_code.label(class="control-label")|safe }}
                    {{ form.verification_code(size=5,maxlength=4, required=True) }}
                    <img src="{{ url_for("auth.get_code") }}" id="get_code">
                    <label class="control-label">
                        <small>{{ _('看不清？点击') }}<a href="javascript:void(0)"
                                                   onclick="RefreshCode()">{{ _('刷新') }}</a></small>
                    </label>
                </div>
            {% endif %}
            <div class="form-group required">
                {{ form.submit(class="btn btn-info submit",type='submit') }}
            </div>
        </form>
        <div class="register">
            <a type="button" class="btn btn-info" style="width: 100%;"
               href="{{ url_for("auth.login") }}">{{ _("已有账号？登录") }}</a>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    {{ super() }}
    <script type="application/javascript">
        function RefreshCode() {
            document.getElementById('get_code').src = "{{ url_for('auth.get_code') }}?rs=" + Math.random()
        }
    </script>
{% endblock scripts %}