{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert-danger">{{ message }}</div>
        {% endfor %}
        {#        {{ wtf.quick_form(form) }}#}
        <form action="{{ url_for('auth.register') }}" method="post" class="form" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group required">
                {{ form.username.label(class="control-label")  | safe }}
                {{ form.username(class="form-control",required=True) }}
            </div>

            <div class="form-group required">
                {{ form.email.label(class="control-label") |safe }}
                {{ form.email(class="form-control",required=True) }}
            </div>
            {% if form.errors.password %}
                <div class="form-group required">
                    {{ form.password.label(class="control-label") |safe }}
                    {{ form.password(class="form-control",required=True) }}
                    {% for error in form.errors.password %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                <div class="form-group required">
                    {{ form.password.label(class="control-label") | safe }}
                    {{ form.password(class="form-control", required=True) }}
                </div>
            {% endif %}
            {% if form.errors.password2 %}
                <div class="form-group required">
                    {{ form.password2.label(class="control-label") |safe }}
                    {{ form.password2(class="form-control",required=True) }}
                    {% for error in form.errors.password1 %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                <div class="form-group required">
                    {{ form.password2.label(class="control-label") | safe }}
                    {{ form.password2(class="form-control", required=True) }}
                </div>
            {% endif %}
            {% if form.errors.verification_code %}
                <div class="form-group has-error required">
                    {{ form.verification_code.label(class="control-label") | safe }}
                    {{ form.verification_code(class="form-control", required=True) }}
                    {% for error in form.errors.verification_code %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                <div class="form-group required">
                    {{ form.verification_code.label(class="control-label") | safe }}
                    <label class="control-label">
                        {#<img src="{{ url_for('static', filename='image/code/'+code_img) }}">#}
                        <img src="data:image/jpeg;base64,{{ code_img }}"> <span><small>{{ _('看不清？点击') }}<a >{{ _('刷新') }}</a></small></span>
                    </label>
                    <span>{{ form.verification_code(class="form-control", required=True) }}</span>
                </div>

                <div class="form-group required">
                    {{ form.submit(class="btn btn-info submit") }}
                </div>
            {% endif %}
        </form>
        <div class="register">
            <a type="button" class="btn btn-info" style="width: 100%;"
               href="{{ url_for("auth.login") }}">{{ _("已有账号？登录") }}</a>
        </div>
    </div>
{% endblock %}